#hi{
    background-image: url("../image/chatbox.jpg");
    /* background-repeat: no-repeat;  */
    /* background-position: right top; */
    /* margin-right: 200px; */
    background-size: auto;
  }
 
 
  #homecard {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 10%);
    width: 900px!important;
    padding: 10px;
    background-color:rgba(192, 87, 42, 0.151);
 
   }
 
   #homecard :after{
       opacity: 0.2;
    }
 
 
 
   li{
       list-style: none;
   }
 
   /* #inside{
       opacity: 100;
   } */
   .w-75 {
       width: 870px!important;
       height: 600px !important;
       margin-left: 5px;
       margin-bottom: 5px;
       margin-top: 5px;
   }