<!doctype html>
<html>
  <head>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

      <!-- below I add extra scripts to work on style -->

      <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



      <!-- above I add extra scripts to work on style -->




      <!-- finished here -->


    <title>Socket.IO chat</title>
  

  </head>
  <body id="hi" >

<!-- here script for io dont touch it -->
    <script>
        $(function () {
          var socket = io();
          $('form').submit(function(){
            socket.emit('chat room', $('#m').val());
            $('#m').val('');
            return false;
          });
          socket.on('chat message', function(msg){
            $('#messages').prepend($('<li>').text(msg));
              
          });
        });
      </script>
  </body>
</html>